{% extends "base.html" %}

{% block title %}
Registration
{% endblock title %}

{% block content %}
<div class="aligning">
<h1>Sign in</h1>
<form action="" method="post">
    {% csrf_token %}
<p>
    <label for="username">Username</label>
    <input type="text" name="username">
</p><p>
    <label for="password">Password</label>
    <input type="password" name="password">
</p>
    <button type='submit'>Login</button>
</form>
<h2>Don't have an account?<a href="{% url "register" %}"><br>Sign up!</a></h2>
</div>
{% endblock content %}