{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Registration
{% endblock title %}

{% block content %}
<h1>Change password</h1>
<form action="" method="post">
    {% csrf_token %}
    {% if messages %}
    <ul>
    {% for i in messages %}
    <li>{{i}}</li>
    {% endfor %}
    </ul>
    {% endif %}
    <p>
        <label for="old_pass">Old password</label>
        <input type="text" name="old_password" required>
    </p>
    <p>
        <label for="new1_password">New password</label>
        <input type="text" name="new1_password" required>
    </p>
    <p>
        <label for="new2_password">Confirm password</label>
        <input type="text" name="new2_password" required>
    </p>
    <button type='submit'>Change</button>
</form>
{% endblock content %}